body {
    background-color: #121212;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.about-div-section{
    padding: 10px;
}

.about-div{
    border-radius: 5px;
    color: #FFFFFF;
    background-color: rgba(255,255,255,.07);
    display: flex;
    margin-top: 10px;
}

.about-card{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.09);
    height: max-content;
    margin: 10px;
    display: flex; 
    flex-direction:column;
}

.about-info-card{
    padding: 0 10px 0 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.09);
    font-size: 1.2em;
}

.about-link-card{
    background-color: rgba(255,255,255,.12);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    flex: 1; 
    white-space: nowrap;
    margin-top: 10px;
}

.about-link-card:hover{
    background-color: rgba(255,255,255,.16);
}

.about-section{
    display: inline-flex;
    flex: 1 1 auto;
    padding: 8px 12px;
    height: max-content;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.code-card{
    background-color: rgba(255,255,255,.09);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.footer {
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}