body {
    background-color: #121212;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.felx-table{
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
    background-color: rgba(255,255,255,.09);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.title-row{
    color: rgba(255,255,255,.60);
    text-align: left;
    font-size: 1.8vmax;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.metal-row{
    color: #FFFFFF;
    font-size: 2.8vmax;
    display: flex;
    flex-direction: row;
    border-top: 2px solid #525252;
    flex-wrap: wrap;
}

.metal-row:hover {
    background-color: rgba(255,255,255,.05);
    transition: 0.3s;
}

.title-cell{
    padding: 5px 5px 2px 5px;
    min-width: 100px;
}

.cell{
    padding: 5px;
    min-width: 100px;
}

.colapse-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 2;
}

.colapse-name{
    display: flex;
    flex-direction: row;
    flex: 6;
    min-width: 340px;
}

.metal{
    flex: 1;
    color: rgba(255,255,255,.60);
    font-size: 2.3vmax;
}
.bid{
    flex: 1;
}
.ask{
    flex: 1;
}
.change{
    flex: 1;
}
.change-p{
    flex: 1;
}
.low{
    flex: 1;
}
.high{
    flex: 1;
}

.top-info-card{
    display: flex; 
    flex-direction: column;
    background-color: rgba(255,255,255,.09);
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    white-space: nowrap;
    height: fit-content;
}

.top-info-card:hover{
    background-color: rgba(255,255,255,.14);
}

.top-info-card-title{
    color: rgba(255,255,255,.60);
    text-align: left;
    padding: 4px 8px 0px 8px;
    font-size: 1.2vmax;
}

.top-info-card-prices{
    color: #FFFFFF;
    text-align: center;
    padding: 0px 8px 4px 8px;
    font-size: 2.2vmax;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.top-info-section{
    background-color: rgba(255,255,255,.07);
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}


.info-div{
    background-color: rgba(255,255,255,.07);
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-section{
    display: inline-flex;
    align-items: center;
    min-width: 0;
    padding-right: 8px;
}

.div-section{
    padding: 5px 5px 0px 5px;
}

.down-color{
    color: #db3344 !important;
}

.up-color{
    color: #549267 !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.image-section{
    display: flex;
    flex-wrap: wrap;
}

.image-link-dimensions {
    flex: 1;
    margin: 10px;
    min-width: 300px;
}

.image-dimensions {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
