body {
    background-color: #121212;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#metal-market {
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
    background-color: rgba(255,255,255,.09);
    border-radius: 5px;
}

    #metal-market th {
        color: rgba(255,255,255,.60);
        text-align: left;
        font-size: 1.8vw;
        padding: 5px 5px 2px 5px;
    }

    #metal-market td{
        padding: 5px;
        color: #FFFFFF;
        font-size: 2.8vw;
    }

    #metal-market tr:hover {
        background-color: rgba(255,255,255,.05);
        transition: 0.3s;
    }
    
    #metal-market tr:first-child:hover {
        background-color: rgba(255,255,255,.0);
    }

    #metal-market td:first-child, #metal-market th:first-child{
        border-right: 2px solid #525252
    }

    #metal-market tr {
        border-bottom: 2px solid #525252
    }

    #metal-market tr:last-child {
        border-bottom: 0px solid #525252
    }

.top-info-card{
    display: flex; 
    flex-direction: column;
    background-color: rgba(255,255,255,.09);
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    white-space: nowrap;
    height: fit-content;
}

.top-info-card:hover{
    background-color: rgba(255,255,255,.14);
}

.top-info-card-title{
    color: rgba(255,255,255,.60);
    text-align: left;
    padding: 4px 8px 0px 8px;
    font-size: 1.2vw;
}

.top-info-card-prices{
    color: #FFFFFF;
    text-align: center;
    padding: 0px 8px 4px 8px;
    font-size: 2.2vw;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.top-info-section{
    background-color: rgba(255,255,255,.07);
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}


.info-div{
    background-color: rgba(255,255,255,.07);
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-section{
    display: inline-flex;
    align-items: center;
    min-width: 0;
    padding-right: 8px;
}

.div-section{
    padding: 5px 5px 0px 5px;
}

.down-color{
    color: #db3344 !important;
}

.up-color{
    color: #549267 !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.image-section{
    display: flex;
    flex-wrap: wrap;
}

.image-link-dimensions {
    flex: 1;
    margin: 10px;
    min-width: 480px;
}

.image-dimensions {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
