.navbar {
    background-color: #121212;
    color: #fff;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    z-index: 4;
}

.navbar-div {
    background-color: rgba(255,255,255,.16);
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
}

.navbar-section{
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    padding: 8px 12px;
    z-index: 1;
}

.menu-button{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    fill: currentColor;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    width: 48px;    
    height: 48px;
    padding: 12px;
    color: white;
    border-radius: 5px;
}

.menu-button:hover{
    background-color: rgba(255,255,255,.07);
}