.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 64px;
    font-size: 1.2em;
}
  
.sidebar a {
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    width: 130px;
}
  
.sidebar div:hover {
    background-color: rgba(255,255,255,.09);
}

.sidebar div{
    padding: 5px;
}